#headerJumbotron {
  
    margin-top: 20px;
}

#headerContainer {
    height: 50px;
    background-color: rgb(211, 205, 198);
    text-align: center;
}

#header {
    font-size: 32px;
}
#searchForm {
    width: 500px;
    margin-top: 20px;

}
#brandName {
    float: left;
    color: burlywood;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    margin-right: 10px;
    margin-left: 20px;
}
#buttonForm {
    background-color:burlywood;
    color:black;
}
#imageBusiness {
    width:250px;
    height:150px;
    margin-right: 20px;
}

#cardBusinessTitle {
    font-size: 15px;
}
#cardBusinessText {
    
    font-size: 10px;
}
#reviewButton {
    margin-top: 10px;
    text-align: center;
    background-color: burlywood;
}
#reviewButton:hover{
    background-color: blanchedalmond;
    color: black;
}
#businessCards {
    padding-left:200px;
    text-align: center;
}
#aReview{
    text-align: center;

}
#allReviews{
    text-align: center;
    border: solid black;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: blanchedalmond;
}